<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="jumbotron hero-wrapper">
        <h1>Instructor Index Page</h1>
        <p class="lead">On this page Instructor can add new Courses,View rating for courses,view enrolled students details,view his profile</p>
    </div>
    <div class="row">
    </div>
    <div class="tile-wrapper">
        <div class="col-md-3 tile">
            <h2 class="tile-heading">Add new Course</h2>
            <p>Add new Updated Couses</p>
            <input class="btn" type="button" value="Add Course" onclick="location.href='@Url.Action("AddCourse", "Instructor")'" />
        </div>
        <div class="col-md-3 tile">
            <h2 class="tile-heading">View rating of course</h2>
            <p>View ratings given by students</p>
            <input class="btn" type="button" value="View Ratings" onclick="location.href='@Url.Action("aggregateRatings", "Instructor")'" />
        </div>
        <div class="col-md-3 tile">
            <h2 class="tile-heading">View Enrolled Students</h2>
            <p>View list of enrolled students</p>
            <input class="btn" type="button" value="View Enrolled Students" onclick="location.href='@Url.Action("ViewStudents", "Instructor")'" />
        </div>
        <div class="col-md-3 tile">
            <h2 class="tile-heading">Send Bulk Email</h2>
            <p>View list of enrolled students</p>
            <input class="btn" class="btn" type="button" value="Send Bulk Email" onclick="location.href='@Url.Action("SendBulk", "Instructor")'" />
        </div>
        <div class="col-md-3 tile">
            <h2 class="tile-heading">Add Event</h2>
            <p>View list of enrolled students</p>
            <input class="btn" type="button" value="Add Event" onclick="location.href='@Url.Action("addEvent", "Instructor")'" />
        </div>
    </div>
    </div>
    <style>
        .hero-wrapper {
            text-align: center;
            background: transparent;
            color: white;
        }

        .tile-heading {
            min-height: 65px;
            font-size:20px
        }

        .tile {
            background-color: #fff;
            color: #3c4043;
            border-radius: 4px;
            box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
            padding: 24px;
            margin: 16px
        }

        .btn {
            background: transparent;
            border-color: lightgrey;
            border-radius: 4px;
        }

            .btn:hover {
                background: #1c62c4;
                color: white;
            }

        .tile-wrapper {
            display: flex;
            justify-content: space-evenly;
        }

        html {
            height: 100%;
        }

        body {
            height: 100%;
            background: radial-gradient(at 50% 33%,#1f6adb 0,#1f6cd8 .1%,#1e68d0 15.5%,#1c62c4 22.5%,#1a5ab4 29%,#1751a2 35.3%,#14478e 41.2%,#113c78 47.1%,#0e3162 52.9%,#0b264d 58.8%,#081c39 64.7%,#051326 71%,#030b17 77.5%,#02050b 84.5%,#000103 91.9%,#000 100%)
        }

    </style>
</body>
</html>